* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f5f5f7;
  color: #111;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: white;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #000, #333);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background: white;
  cursor: pointer;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background: white;
}

/* PRODUCTS */
.products {
  padding: 80px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.product {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

/* BANNER */
.banner {
  background: black;
  color: white;
  padding: 100px;
  text-align: center;
}

/* TESTIMONIALS */
.testimonials {
  padding: 80px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* NEWSLETTER */
.newsletter {
  background: #111;
  color: white;
  text-align: center;
  padding: 80px;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin-top: 20px;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  background: white;
}
